/* src/App.css */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1; /* Take remaining space */
/* } */

/* Responsive Adjustments */
/* @media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}  */

/* src/App.css */

/* Light Theme */
/* src/App.css */

/* .dashboard-container {
  transition: margin-left 0.3s ease; 
  margin-left: 130px; 
  
} */

/* .sidebar-closed .dashboard-container {
  margin-left: 80px; 
} */

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --sidebar-bg-color: #f8f9fa;
  --header-bg-color: #f8f9fa;
}

/* Dark Theme */
[data-theme="dark"] {
  --background-color: #181818;
  --text-color: #ffffff;
  --sidebar-bg-color: #343a40;
  --header-bg-color: #212529;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.header {
  background-color: var(--header-bg-color);
  color: var(--text-color);
  margin-top: -2%;
  margin-right: -20px;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--text-color);
}

.dashboard {
  background-color: var(--background-color);
  color: var(--text-color);
}

.theme-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--header-bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.theme-toggle:hover {
  opacity: 0.8;
}


.theme-container {
  position: relative;
}

.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000; 
  width: 150px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black; 
}

.dropdown-item:hover {
  background-color: #f0f0f0; 
}

@media (max-width: 600px) {
  .dropdown {
    width: 100%; 
  }
}


















.app-container {
  display: flex;
  height: 100vh;
}

.dashboard-container {
  transition: margin-left 0.3s ease;
  flex-grow: 1;
}

.dashboard-container.sidebar-open {
  margin-left: 97px;
  margin-top: -2px;
}

.dashboard-container.sidebar-closed {
  margin-left: 57px; 
}


